.select2 {
    @apply w-full border-0 placeholder-gray-700 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring !important;
}

.select2-dropdown {
    @apply absolute block w-auto box-border bg-white shadow-lg border-gray-300 z-50 float-left;
}

.select2-container--default .select2-selection--single {
    @apply border-0 h-11 flex items-center text-sm
}

.select2-container--default .select2-selection--multiple {
    @apply border-0 text-sm
}

.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    @apply border-0 outline-none ring ring-blue-600
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 9px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    @apply py-3 text-black
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    @apply text-black
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: inherit;
}

.select2-selection__choice {
    @apply text-xs font-semibold inline-block py-1 px-2 rounded text-white bg-black border-0 !important;
}

.select2-selection__choice span {
    @apply text-white bg-black !important;
}

.select2-search__field:focus {
    outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    @apply text-red-500 ml-1 mr-0 !important
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    @apply text-indigo-600 mr-2 p-0 !important
}
